#comochegar {
  overflow: hidden;
}

#comochegar .features-row {
  padding: 60px 0 30px 0;
}

#comochegar p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#comochegar .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#comochegar p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#comochegar h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#comochegar ul {
  list-style: none;
  padding: 0;
}

#comochegar ul li {
  padding-bottom: 10px;
}

#comochegar i {
  font-size: 20px;
  padding-right: 4px;
  color: #92278f;
}

#comochegar i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}

a {
  color: #92278f;
  transition: 0.5s;
}

#comochegar .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}
