.register-form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.register-form {
  height: 73%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border: 3px solid #a0429d;
  padding: 0px 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.username,
.gender,
.birthdate,
.nationality,
.course,
.confirm-password,
.password {
  display: flex;
  flex-direction: column;
}

input {
  padding: 4px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a0429d;
  outline: none;
}

select {
  padding: 6px 0px;
  border: 1px solid white;
  border-bottom: 1px solid #a0429d;
  color: #a0429d;
  outline: none;
}

::placeholder {
  color: #a0429d;
  font-weight: 400;
  font-size: 16px;
}

input:focus {
  border-bottom: 2px solid #a0429d;
}

button {
  padding: 10px 0px;
  color: #a0429d;
  border: 1px solid #a0429d;
  outline: none;
}

button:hover {
  color: #a0429d;
  font-weight: 500;
  border: 1px solid #ad4eaa;
}

h6,
h5 {
  text-align: center;
  color: #a0429d;
}

a {
  color: #a0429d;
}
