#tutoria {
  overflow: hidden;
}

#tutoria .features-row {
  padding: 60px 0 30px 0;
}

#tutoria .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
  max-width: 585px;
  max-height: 401px;
  visibility: visible;
  animation-name: fadeInRight;
}

#tutoria h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#tutoria p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#tutoria .features-row {
  padding: 60px 0 30px 0;
}

#tutoria p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#tutoria .advanced-feature-img-left {
  max-width: 585px;
  max-height: 401px;
  float: left;
  padding: 0 30px 30px 0;
}

#tutoria p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

.get-started-btn {
  background: #515e61;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

#tutoria h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#tutoria ul {
  list-style: none;
  padding: 0;
}

#tutoria ul li {
  padding-bottom: 10px;
}

#tutoria i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}
