#associacoesestudantes {
  overflow: hidden;
}

.section-bg {
  background: #eff5f5;
}

#associacoesestudantes .features-row {
  padding: 60px 0 30px 0;
}

#associacoesestudantes p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#associacoesestudantes h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

a {
  color: #92278f;
  transition: 0.5s;
}
